
.infinty-body__nav-wrapper{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    z-index: 2;
    transition: .3s;
}

.infinty-body__nav-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #000;
    width: 100%;
    padding: 30px 20px;
    border-radius: 3px;
    box-shadow: 0 3px 10px #000;
}

.infinty-body__nav-item{
    height: 15px;
    cursor: pointer;
}

.infinty-body__nav-list img{
    height: 15px;
    width: 15px;
    opacity: .7;
    z-index: -1;
}

.navblocker{
    top: 0;
    position: absolute;
    background-color: #000;
    height: 99%;
    width: 2000px;
    margin-left: 200px;
    z-index: 3;
}